.App {
  text-align: center;
  align-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
}

.cover {
  width: 100%;
  max-width: 300px;
}

.background{
  /* background-image: url("https://images.wallpapersden.com/image/download/ubuntu-19-10_66736_3840x2160.jpg"); */
  background-image: url("./bged.jpg");
  /* position: fixed; */
  /* position: right 50px;
  position: top 50px;
  position: bottom 50px; */
  height: 100%;
  background-position: center;
  /* min-width: 100%;
  min-height: 100%; */
  /* background-size: auto; */
  background-size: cover;

}